aiofiles
aiohttp
dnspython
ffmpeg-python
gitpython
hachoir
lyricsgenius
motor>=3.3.0
pillow>=10.0.0
psutil
py-tgcalls>=2.3.3
ntgcalls>=2.1.0
pyrogram==2.0.106
python-dotenv
pyyaml>=6.0
requests
spotipy>=2.23.0
tgcrypto
yt-dlp
youtube-search-python
